.about-container {
    background-image: linear-gradient(90deg, #c5c6c7, #edf5e1);
    /* background-color: #0b0c10; */
    justify-content: center;
    width: 100%;

}

.about-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4rem 15rem;
}

.about-content {
    width: 30rem;
}

.about-content span {
    color: #05376b;
    font-weight: 700;
}

.about-content h1 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}



.about-content p {
    padding: .7rem 0;
    line-height: 1.7;
}

.about-btn {
    text-align: center;
    margin-top: 1.5rem;

}

.about-btn a {
    color: #0b0c10;
    border: 2px solid;
    padding: .5rem 1rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
    transition: .4s linear;
}

.about-btn a:hover {
    background-color: #05376b;
    color: #c5c6c7;
    border: #05376b;
}

.about-image img {
    width: 30rem;
    height: 30rem;
}

.about-box1 {
    /* background-color: #edf5e1; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 14rem;
    padding-bottom: 8rem;
}

.about-content1 {
    width: 33rem;
}

.about-content1 p {
    font-size: 1rem;
    line-height: 1.7;
}

.about-content1 h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.about-content1 h1 span {
    color: #05376b;
}

.about-image1 img {
    width: 30rem;
    height: 20rem;
}

.counter-section {
    margin-top: 3rem;
    position: absolute;
    display: flex;
    transform: translateX(-35%);
}

.counter-container:first-child {
    background-color: #05376b;
}

.counter-container:nth-child(2) {
    background-color: #1f2833;
}

.counter-container:last-child {

    background-color: #0b0c10;
}

.counter-container {
    width: 17rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem 0;
    color: #c5c6c7;
}

.counter-container h1 {
    font-size: 2.5rem;
    line-height: .5;
}

.counter-container h1 span {
    font-size: 2rem;
    color: #c5c6c7;
}



/* responsive code */

@media(max-width:2600px) and (min-width : 2200px) {
    .about-box {
        padding: 4rem 20rem;
    }

    .about-content {
        width: 50rem;
    }

    .about-content h1 {
        font-size: 3.5rem;
    }

    .about-content p {
        font-size: 1.5rem;
    }

    .about-btn {
        font-size: 2rem;

    }

    .about-image img {
        width: 50rem;
        height: 50rem;
    }

    .about-box1 {
        padding: 2rem 20rem;
        padding-bottom: 8rem;
    }

    .about-content1 {
        width: 50rem;
    }

    .about-content1 p {
        font-size: 1.5rem;
    }

    .about-content1 h1 {
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }


    .about-image1 img {
        width: 50rem;
        height: 30rem;
    }

    .counter-section {
        transform: translateX(-50%);
    }

    .counter-container {
        width: 20rem;
        height: 13rem;
    }
}

@media(max-width:2200px) and (min-width : 1600px) {
    .about-box {
        padding: 4rem 10rem;
    }

    .about-content {
        width: 40rem;
    }

    .about-content h1 {
        font-size: 3rem;
    }

    .about-content p {
        font-size: 1.5rem;
    }

    .about-btn {
        font-size: 2rem;

    }

    .about-image img {
        width: 40rem;
        height: 40rem;
    }

    .about-box1 {
        padding: 2rem 10rem;
        padding-bottom: 10rem;
    }

    .about-content1 {
        width: 50rem;
    }

    .about-content1 p {
        font-size: 1.5rem;
    }

    .about-content1 h1 {
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }


    .about-image1 img {
        width: 40rem;
        height: 30rem;
    }

}


@media (max-width:1450px) {
    .about-box {
        padding: 4rem 10rem;
    }

    .about-box1 {

        padding: 2rem 9rem;
        padding-bottom: 6rem;
    }

}

@media (max-width:1450px) {
    .about-box {
        padding: 4rem 10rem;
    }

    .about-box1 {

        padding: 2rem 9rem;
        padding-bottom: 6rem;
    }

}

@media (max-width:1170px) {
    .about-box {
        padding: 4rem 5rem;
    }

    .about-box1 {

        padding: 2rem 4rem;
        padding-bottom: 6rem;
    }

}

@media (max-width:870px) {
    .about-box {
        padding: 4rem 5rem;
    }

    .about-box1 {

        padding: 2rem 4rem;
        padding-bottom: 6rem;
    }

    .about-content {
        width: 25rem;
    }

    .about-content h1 {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .about-image img {
        width: 25rem;
        height: 25rem;
    }

    .about-content1 {
        width: 25rem;
    }

    .about-content1 p {
        font-size: 1rem;
    }

    .about-content1 h1 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .about-image1 img {
        width: 25rem;
        height: 20rem;
    }

    .counter-section {
        transform: translateX(-50%);
    }


    .counter-container {
        width: 13rem;
        height: 7rem;
    }

}

@media (max-width:680px) {
    .about-box {
        flex-direction: column-reverse;
        place-items: center;
        width: 100%;
    }

    .about-content {
        width: 100%;
    }

    .about-content h1 {
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }

    .about-content p {
        font-size: 1rem;
    }

    .about-image img {
        width: 40rem;
        height: 40rem;
    }

    .about-btn {
        font-size: 1.5rem;
    }

    .about-btn a {
        padding: .5rem 2rem;
    }

    .about-box1 {
        width: 100%;
        flex-direction: column;
        place-items: center;
    }

    .about-content1 {
        width: 100%;
    }

    .about-content1 p {
        font-size: 1.1rem;
    }

    .about-content1 h1 {
        font-size: 2.5rem;
        padding: 2rem 0;
    }

    .about-content1 h1 span {
        color: #05376b;
    }

    .about-image1 img {
        width: 40rem;
        height: 30rem;
    }

    .counter-section {
        position: relative;
        flex-direction: column;
        transform: none;
        place-items: center;
    }

    .counter-container {
        width: 40rem;
        height: 12rem;
        flex-direction: column;
    }

    .counter-container h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

}

@media (max-width:500px) {
    .about-image img {
        width: 30rem;
        height: 30rem;
    }


    .about-image1 img {
        width: 25rem;
        height: 20rem;
    }

    .counter-container {
        width: 30rem;
        height: 12rem;
    }


}

@media (max-width:420px) {


    .about-image img {
        width: 25rem;
        height: 25rem;
    }

    .about-content h1 {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .about-content1 h1 {
        font-size: 2rem;
        padding: 2rem 0;
    }


    .about-image1 img {
        width: 25rem;
        height: 15rem;
    }

    .counter-container {
        width: 20rem;
        height: 10rem;
    }


}

@media (max-width:375px) {
    .about-content h1 {
        font-size: 1.8rem;
    }

    .about-content1 h1 {
        font-size: 1.8rem;
    }

    .about-content {
        width: 25rem;
    }

    .about-content1 {
        width: 25rem;
    }



    .about-image img {
        width: 20rem;
        height: 20rem;
    }

    .about-image1 img {
        width: 20rem;
        height: 15rem;
    }
}